<center>
    <div class="footer">
        <h2 style="color:azure">Write the tasks-to-do in the given space and click '+'.<br>Use checkbox to strike-off done task.</h2>
       <br><br><br> <h3 style="color:azure">Made by Rajdeep Das.</h3>
       <br>
       <a href="htgithub.com/mogulcoder26/Deploying-app-on-Vercel">Github Repository</a>
    </div>
</center>
</body>

</html>
